# Python
__pycache__/
*.py[cod]
*.sqlite3
*.log

# Virtual Environment
venv/

# Django specific
db.sqlite3
.env

# Mac system files
.DS_Store

# VSCode settings (if using VSCode)
.vscode/

# Migrations (optional — depends on team setup)
**/migrations/*.py
!**/migrations/__init__.py
